*{
    margin: 0px 0px;
    padding: 0px 0px;
}

:root{
    --main-color:#ff305b;
    --text-color: #555;
}

.layer{
    position: absolute;
    background-size:100% 100% ;
    background-color:rgba(0,0,0,0.8) ;
    height: 100vh;
    width: 100%;
    z-index: 0;
    
    
}
.main{
    
    background-image:url(images/slider-01.jpg);
    background-size: 100% 100%;
    height:100vh;
    background-attachment: fixed;
    
    
}

.navbar{
    z-index: 1;
    position: relative;
    width:95%;
    padding-top: 3vh;
    display: flex;
    padding-bottom: 3vh;
    padding-left: 4vh;
    
    font-weight: 700;
}
.navbar p{
    color:var(--main-color);
    margin-right:53%;
    font-size: 30px;
}
.navbar a{
    text-decoration: none;
    
    color :white ;
    margin-left: 1%;
}

.navbar a:hover{
    color:var(--main-color);
    transition: 0.3s;
}
.heart{
    position: relative;
    padding: 26vh 0;
    text-align: center;
    color:white;
    line-height: 10vh;
    font-size: 35px;
}
.name{
    color:var(--main-color);
}
.job,
.me{
    vertical-align:top;
}

.job{
    display: inline-block;
    padding-right: 2px;
    color:var(--main-color);
    border-right:2px solid rgba(255,255,255,0.8) ;
    overflow: hidden;
    white-space: nowrap;
    animation: control-width  3s steps(17) 0s  infinite,blink  0.5s infinite;
    animation-direction: alternate-reverse;
    
    
}
@keyframes control-width{
    from{
        width:225px;
    }
    to{
        width:0;
        
    }
    
    
 
}



@keyframes blink{
    from{
        border-right-color: rgba(255,255,255,0.8) ;
    }

    to{
        border-right-color: transparent ;
    }
}



.hello{
    display: flex;
    width:85%;
    justify-content: space-between;
    margin: 5vh auto;


}
.right{
    width: 100%;
    height: 100%;
    margin-right: 20px;
    
}

.frame img {
    width :360px;
    height: 440px;
    border-radius: 20px;
    z-index: -1;
    position:absolute;
    border:10px solid black;
}

.helloimage{
    position: relative;
    z-index: 1;
    border-radius: 20px;
    
    top:25px;
    left: 20px;
    overflow: hidden;
    
}

.pinkpart{
    background-color: var(--main-color);
}

.hellotext{
    margin-left: 20px;
    color:var(--text-color);
    font-size:17px;
    
}

.h{
    font-weight: 600;
    font-size: 25px;
}
.info{
    padding-top: 20px;
    margin-top:50px;
    border-top:dashed 1px;
    border-color:  #333333;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.info div{
    display:grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}
.info div span{
    font-weight: 700;
    color: black;
}
.buttons button{
    background-color: var(--main-color);
    color: white;
    border:none;
    padding : 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    transition : 500ms;
}

.buttons button:hover{
    color:var(--main-color);
    background-color: white;
    border:solid 1px var(--main-color);
}


.ourservices{
    width: 78vw;
    padding: 7vh 10vw ;
    text-align: center;
    background-color:#e2e2e2 ;
    display: flex;
    justify-content: center;
  
}
.ourservices div span{
   font-size:  calc(1.375rem + 1.5vw) ;
   color:#333333;
   text-align: center;
}
.ourservices div i {
    font-size:  calc(1.375rem + 1.5vw) ;
}
.ourservices div p{
    color: var(--text-color);
    line-height: 20px;

}

.ourservices div{
    padding: 20px 20px;
    width:30%;
    margin: 0 auto;
    cursor:pointer;
    
}
.ourservices div:hover{
    transition: 500ms;
    background-color: white;
}

.fa-palette,
.fa-lightbulb,
.fa-sliders,
.fa-code{
    color:var(--text-color);
}
.ourservices div:hover .fa-palette{
    transition: 500ms;
    color:var(--main-color);
    font-size: calc(1.5rem + 1.5vw) ;
}
.ourservices div:hover .fa-code{
    transition: 500ms;
    color:var(--main-color);
    font-size: calc(1.5rem + 1.5vw) ;
}
.ourservices div:hover .fa-lightbulb{
    transition: 500ms;
    color:var(--main-color);
    font-size: calc(1.5rem + 1.5vw) ;
}
.ourservices div:hover .fa-sliders{
    transition: 500ms;
    color:var(--main-color);
    font-size: calc(1.5rem + 1.5vw) ;
}



.links{
    color: var(--text-color);
    display: flex;
    width:20%;
    justify-content: space-between;
    
    margin: 10px  auto;

}

.links a {
    text-decoration: none;
    color: var(--text-color);
}
.links a:hover{
    color: var(--main-color);
    transition:500ms;
    
}

.gallery{
    display: flex;
    width :85%;
    margin:30px auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.gallery img{
    
    margin-top: 10px;
    
    width: 100%;

}
.gallery div{
    width: 33%;
}


.stats{
    display: flex;
    background-color: #e2e2e2;
    width:70% ;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
    color: var(--text-color);
    font-size: 20x;
    text-align: center;
    line-height: 40px;
    

}
.no{
    font-size: 30px;
}

.clientfeedback{
    display: flex;
    width:60%;
    line-height: 25px;
    background-color: #e2e2e2;
    padding:30px 50px;
    margin: 10px auto;
    align-items: center;
    margin-bottom:70px;
    

    
}
.clientfeedback div{
    margin-right: 5%;
    
    
}
.profilename{
    font-size: 30px;
}
.profileloc{
    font-size:18px;
    color:var(--text-color);
}
.profileinfo{
  
    font-size: 15px;
}
.profile img{
    
    width:110px;
    height: 110px;
    border-radius: 50%;
  

   
   
}
.profileinfo p i{
    color: var(--text-color);
}

.blog{
    
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 15px auto;
    justify-content: space-between;
    gap:10px;
    
    
}
.ablog{
    width:30%;
    background-color :white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 12px;
    
    
}
.ablog div{
    width:100%;
    
}
.ablog div img{
    width:100%;
}
.ablog div iframe{
    width:100%;
}
.date{
    color: var(--text-color);
}
.blogtitle{
    color:var(--main-color);
    font-weight: bold;
    font-size: 28px;
    line-height: 25px;
}
.ablog div p{
    padding: 0 10px ;
    color: var(--text-color);
    
}
.ablog div a{
    text-decoration: none;
    padding: 0 10px ;
    color: var(--main-color);
    font-weight: 600;
}
.borders hr{
    border-bottom:1px solid var(--main-color);
    margin:3px auto;
    
}
.borders{
    padding-bottom: 30px;
}

.form{
    width:80%;
    margin: 10px auto;
    height: 50vh;
}
.firsttwo{
    display: flex;
    width: 100%;
    margin: 10px auto;
    justify-content: space-between;
    gap: 10px;
    height: 15%;
    
}
.txtfield1{
    width: 70%;
    border:1px solid #ced4da;
    border-radius: 4px;
    
}
.txtfield2{
    border:1px solid #ced4da;
    border-radius: 4px;
    height: 60%;
}
.sectwo{
    height:50%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}
.message{
    height:150% ;
    border:1px solid #ced4da;
    border-radius: 4px;
    
    
}


.form button{
    background-color: var(--main-color);
    color: white;
    border:none;
    padding : 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    transition : 500ms;
    margin-top: 50px;
}
.form button:hover{
    color:var(--main-color);
    background-color: white;
    border:solid 1px var(--main-color);
}
.icons i{
    font-size:35px;
    margin-right: 15px;
    color:#555;
    transition: 500ms ease;
}
.icons{
    padding-top: 20px;
}
.icons i:hover{
    font-size:38px;
    color:var(--main-color);
}

.footer{
    background-color: #212529;
    padding: 30px 0;
    text-align: center;
}
.footer p span{
    color: var(--main-color);
}
.footer p{
    color: var(--text-color);
    font-size: 15px;
}

.gallery div img:hover{
    filter:brightness(60%); 
    transition: filter 0.5s;
}
.helloimage:hover{
    filter:brightness(60%); 
    transition: filter 0.5s;
}



@media screen and (max-width: 1200px) {
  
    .navbar p{
        margin-right: 40%;
    }
   
    
    .ourservices{
        flex-wrap: wrap;
    }
    .links{
        width:30%;
    }
    
  }

  
  @media screen and (max-width: 992px) {
   
    .frame img{
        border: none;
    }
    .helloimage{
        top:0;
        left: 0;
       
    }
    .navbar p{
        margin-right: 25vw;
        
    }
   
    .ourservices{
        flex-wrap: wrap;
    }
    .ourservices div{
        width: 40%;
    }
    .gallery div{
        width: 45%;
    }
    .links{
        width:49%;
    }

    .stats {
        flex-wrap: wrap;
    }
    .stats p{
        width:50%
    }

    
  }

  
  @media screen and (max-width: 768px) {
   
    .frame img{
        border: none;
    }
    .helloimage{
        top:0;
        left: 0;
        width: 516px;
        
       
    }
    
    .navbar p{
        margin-right: 14vw;
        
    }
    .navbar a{
        font-size: 15px;
    }
    .hello{
        flex-wrap: wrap;
    }
    .ourservices{
        flex-wrap: wrap;
    }
    .ourservices div{
        width: 100%;
    }
    .gallery div{
        width: 100%;
    }
    .blog{
        flex-wrap: wrap;
    }
    .ablog{
        width: 45%;
    }

    .firsttwo{
        
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .txtfield1{
        width: 100%;
        
    }
    .links{
        width:65%;
    }
    .stats {
        flex-wrap: wrap;
    }
    .stats p{
        width:100%
    }


  }
  
  @media screen and (max-width: 576px) {
    .frame img{
        border: none;
    }
    .helloimage{
        top:0;
        left: 0;
        width: 90%;
    }
    .navbar p{
        margin-right: 0%;
        
    }
    .navbar a{
        font-size: 15px;
    }
    .hello{
        flex-wrap: wrap;
    }
    .ourservices{
        flex-wrap: wrap;
    }
    .gallery div{
        width: 100%;
    }
    .blog{
        flex-wrap: wrap;
    }
    .ablog{
        width: 100%;
    }
    .firsttwo{
        
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .txtfield1{
        width: 100%;
        
    }
    .links{
        width:65%;
    }
  }
.black{
    background-color: #212529;
    
    padding: 15px 15px;
    border-radius: 7px;
    border: none;
    z-index: 2;
    position: fixed;
    top:90%;
    left: 90%;
    cursor: pointer;
}
.black i{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

html{
    scroll-behavior: smooth;
}
  
